[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FGRepo"]
	path = FGRepo
	url = https://github.com/cran/FGRepo
[submodule "GWASinspector"]
	path = GWASinspector
	url = https://github.com/cran/GWASinspector
[submodule "SNPannotator"]
	path = SNPannotator
	url = https://github.com/cran/SNPannotator
